'''
HTML template for the login page.
'''
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="login-form">
        <h2>User Login</h2>
        <form action="{{ url_for('login') }}" method="post">
            <input type="text" id="username" name="username" placeholder="Enter Username" required>
            <input type="password" id="password" name="password" placeholder="Enter Password" required>
            <button type="submit" id="login-button">Log In</button>
        </form>
        <p>Don't have an account? <a id="register-link" href="{{ url_for('register') }}">Register</a></p>
    </div>
</body>
</html>